{{#if (or page.attributes.edition page.attributes.status)}}
<div class="labels">
<ul>
{{#with page.attributes.edition}}
<li class="edition"><a href="https://www.couchbase.com/products/editions">{{{this}}}</a></li>
{{/with}}
{{#with page.attributes.status}}
<li class="status"><span>{{{this}}}</span></li>
{{/with}}
{{#if (eq page.attributes.topic-type 'concept')}}
<li class="concept"><span><i class="far fa-lightbulb"></i> concept</span></li>
{{else if (eq page.attributes.topic-type 'tutorial')}}
<li class="tutorial"><span><i class="fas fa-book-reader"></i> tutorial</span></li>
{{else if (eq page.attributes.topic-type 'guide')}}
<li class="guide"><span><i class="far fa-check-square"></i> how-to</span></li>
{{else}}
<li class="reference"><span><i class="fas fa-book"></i></i> reference</span></li>
{{/if}}
</ul>
</div>
{{/if}}
