{{#if (and page.component (ne page.component.name 'home'))}}
{{#if (and page.component (ne page.component.name 'tutorials'))}}
{{#if (and page.component (ne page.component.name 'userprofile-couchbase-mobile'))}}
<div class="version-control-box">
{{#if (or page.versions (ends-with page.component.name '-sdk'))}}
<div class="component-frame has-dropdown">
<div class="frame-icon">
<img src="{{{uiRootPath}}}/img/server-icon.png" alt="">
</div>
<div class="frame-body">
<h4 class="title">
<span class="">
{{{page.component.title}}}
</span>
<div class="frame-link-dropdowns">
<a class="frame-link component" href="{{relativize page.componentVersion.url}}"><span class="version">{{page.componentVersion.displayVersion}}</span> <i class="fas fa-chevron-down"></i></a>
<div class="frame-dropdown versions">
<div class="column">
<ul class="frame-dropdown-list">
{{#each page.versions}}
{{#unless (eq ./version @root.page.version)}}
<li><a class="frame-item" href="{{relativize ./url}}">{{./displayVersion}}</a></li>
{{/unless}}
{{/each}}
</ul>
{{#if (ends-with page.component.name '-sdk')}}
<ul class="related">
{{#each (related-sdk-pages 'c,dotnet,go,java,nodejs,php,python,ruby,scala')}}
<li><a class="navbar-item" href="{{relativize ./url}}">{{{./title}}}</a></li>
{{/each}}
</ul>
{{/if}}
</div>
</div>
</div>
</h4>

</div>
</div>
{{else}}
<div class="component-frame">
<div class="frame-icon">
<img src="{{{uiRootPath}}}/img/server-icon.png" alt="">
</div>
<div class="frame-body">
<h4 class="title"><span class="">{{{page.component.title}}}</span></h4>
<a class="frame-link component" href="{{relativize page.componentVersion.url}}">{{#unless (eq page.componentVersion.displayVersion 'master')}} <span class="version">{{page.componentVersion.displayVersion}}</span>{{/unless}}</a>
</div>
</div>
{{/if}}
</div>
{{/if}}
{{/if}}
{{/if}}
