{{#each navigation}}
{{#if (and (eq ./content undefined) (eq ./items.length 1))}}
{{> nav-tree navigation=./items level=(add ../level 1)}}
{{else}}
<li class="menu_list{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}{{#if ./items.length}} is-parent closed{{/if}}" data-depth="{{../level}}">
  <span class="menu_line">
    {{#if ./items.length}}
    <span class="in-toggle"></span>
    {{/if}}
    {{#if ./url}}
    <a class="menu_title menu_link{{#if (eq ./url @root.page.url)}} is-current-page{{/if}}" href="{{relativize ./url}}">{{{./content}}}</a>
    {{else}}
    <span class="menu_title menu_text">{{{./content}}}</span>
    {{/if}}
  </span>
  {{#if ./items.length}}
<ul class="menu_row">
{{> nav-tree navigation=./items level=(add ../level 1)}}
</ul>
  {{/if}}
</li>
{{/if}}
{{/each}}
