<div class="components">
  {{#with (nav-group-for-page (nav-groups))}}
  <div class="components_group-title">
    {{#if ./url}}<a href="{{relativize ./url}}">{{{./title}}}</a>{{else}}{{{./title}}}{{/if}}
  </div>
  <ul class="components_list">
    {{#each ./components as |componentName|}}
    {{#with (lookup @root.site.components this)}}
    <li class="components_list-items">
      <div class="component_list-version">
        <span class="component_list_title">{{{./title}}}</span>
        {{#with (or (and (eq @root.page.component.name componentName) @root.page.version) (lookup ../../latestVersions componentName)) as |activeVersion|}}
        {{#unless (eq activeVersion 'master')}}
        <select class="version_list" data-component="{{{componentName}}}">
          {{#each ../versions}}
          <option value="{{./version}}" data-url="{{{relativize ./url}}}"{{#if (eq ./version activeVersion)}} selected{{/if}}>{{or ./displayVersion ./version}}</option>
          {{/each}}
        </select>
        {{/unless}}
        {{/with}}
      </div>
      {{#each ./versions}}
      <div class="version_items{{#unless (and (eq @root.page.component.name ../componentName) (eq @root.page.version ./version))}} hide{{/unless}}" data-version="{{./version}}">
{{#if ./navigation.length}}
<ul class="menu_row">
{{#if (and (eq ./navigation.length 1) (eq ./navigation.0.content undefined))}}
{{> nav-tree navigation=./navigation.0.items level=0}}
{{else}}
{{> nav-tree navigation=./navigation level=0}}
{{/if}}
</ul>
{{/if}}
      </div>
      {{/each}}
    </li>
    {{/with}}
    {{/each}}
  </ul>
  {{/with}}
</div>
